<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/base_styles.css">
	<link rel="stylesheet" href="/stylesheets/car_views_styles/car_list.css">
	<title>Car List</title>
</head>

<body>
	<header>
		<h1>Car List</h1>
	</header>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Image</th>
					<th>Brand</th>
					<th>Year</th>
					<th>Plate number</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% cars.forEach(car=> { %>
					<tr class="car-item">
						<td>
							<a href="/cars/<%= car.id %>" class="tooltip">
								<% if (car.imgSrc) { %>
									<img src="/<%= car.imgSrc %>" alt="<%= car.brand %> Image" width="100" class="car-image">
									<% } else { %>
										<img src="/no_photo.jpg" alt="No Image Available" width="100" class="car-image">
										<% } %>
											<span class="tooltiptext">Click to view details</span>
							</a>
						</td>
						<td><strong>
								<%= car.brand %>
							</strong></td>
						<td>
							<%= car.year %>
						</td>
						<td>
							<%= car.plateNumber %>
						</td>
						<td class="car-actions">
							<a href="/cars/<%= car.id %>/edit" class="edit-button">Edit</a>
							<form action="/cars/<%= car.id %>?_method=DELETE" method="POST" style="display:inline;">
								<button type="submit" class="delete-button">Delete</button>
							</form>
						</td>
					</tr>
					<% }) %>
			</tbody>
		</table>
		<div class="button-container">
			<a href="/cars/new" class="add-button">Add New Car</a>
		</div>
	</div>
	<a href="/" class="back-button">Back to main page</a>
	<footer>
		<p>&copy; 2024 Vehicle Fleet Management System</p>
	</footer>
</body>

</html>