<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/base_styles.css">
	<link rel="stylesheet" href="/stylesheets/car_views_styles/car_details.css">
	<title>Car Details</title>
</head>

<body>
	<header>
		<h1>
			<%= car.brand %> Details
		</h1>
	</header>

	<div class="car-details">
		<div class="car-image">
			<% if (car.imgSrc) { %>
				<img src="/<%= car.imgSrc %>" alt="<%= car.brand %> Image" width="300">
				<% } %>
		</div>

		<div class="car-info">
			<p><strong>Plate number:</strong>
				<%= car.plateNumber %>
			</p>
			<p><strong>Year:</strong>
				<%= car.year %>
			</p>
		</div>
	</div>

	<a href="/cars" class="back-button">Back to List</a>

	<footer>
		<p>&copy; 2024 Vehicle Fleet Management System</p>
	</footer>
</body>

</html>